<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Exome P</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{% url 'upload' %}" class="nav-link">Upload VCF</a></li>
            <li class="nav-item"><a href="{% url 'vcf_list' %}" class="nav-link">List uploaded VCF files</a></li>
            <li class="nav-item"><a href="{% url 'snp_search' %}" class="nav-link">Search genotype by SNP</a></li>
            <li class="nav-item"><a href="{% url 'nationality_prediction' %}" class="nav-link">Predict nationality</a></li>
            <li class="nav-item"><a href="{% url 'str_upload' %}" class="nav-link">Upload STR file</a></li>
            <li class="nav-item"><a href="{% url 'str_search' %}" class="nav-link">Search sample by STR</a></li>
        </ul>
    </div>
</nav>
